{% extends 'base.html.twig' %}

 {% block title %}{{ parent() }} | Ajouter le stock {% endblock %}
 {% block description %}{{ parent() }} |Ajouter le stock {% endblock %}
 {% block keywords %}{{ parent() }} | Ajouter le stock  {% endblock %}


{% block body %}

 <h2 class="pt-5">Ajouter le stock: "{{ product.title|capitalize}}"</h2>

    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Gestion des produits</a>

    <a class="btn btn-outline-secondary" href="{{ path('app_product_stock_add_history',{'id':product.id}) }}">Afficher l'historique d'ajout du stock</a>


{% include "_include/_flashes.html.twig" %}
    {{ form_start(form) }}
   
    
    <div class="row">
            
        {{ form_row(form.qte) }}
        
        {{ form_rest(form.qte) }}
        <input type="submit" value="Enregistrer" class="btn btn-dark w-100 mt-3">

    </div>
       

    {{ form_end(form) }}
 

{% endblock %} 